body{
	background: #1A1C1E;
	font-size:12px;
	color:#ccc;
 
}
.center-1200{
	width:1200px;
	margin:0 auto;
}
.mt50{
	margin-top: 50px;
}
.mt30{
	margin-top:30px;
}
.colorZi{
	color:#7f0055;
}
.colorJin{
	color:#865701;
}
.colorLan{
	color:#52D9EF;
}
.colorLv{
	color:#A6E22E;
}
.colorHong{
	color:#F92672;
}
.space{
	margin-right:10px;
}